/* ===== Reset ===== */

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body {
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* ===== Header ====== */

.superInfo-bg {
    background-color: #122ab2;
    color: white;
}

.superInfo a {
    color: white;
}

.superInfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superInfo p, .superInfo a {
    margin: 0 10px 10px 10px;
}

/* ====== Menu Header ===== */

.menuBg {
    background-color: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menuLogo {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
}

.menuNav ul {
    display: flex;
    flex-wrap: wrap;
}

.menuNav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menuNav a:hover {
    color: #122ab2;
}

/* ====== Introdução ===== */

.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/* ===== Sobre ===== */

.sobre {
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobreInfo {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobreInfo h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobreInfo p {
    font-size: 1.25em;
    line-break: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobreImg {
    flex: 1 1 160px;
    margin: 0 10px;
}

